#techweb {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #1e1e1e;
	color: #ddd;
	
	display: flex;
	height: 100vh;
}
#sidebar {
	width: 300px;
	border-right: 1px solid #38271D;
	display: flex;
	flex-direction: column;
	background: #281C10;
}
#searchInput {
	padding: 10px;
	border: none;
	outline: none;
	background: #333;
	color: white;
}
#nodeList {
	flex: 1;
	overflow-y: auto;
}
.nodeItem {
	padding: 10px;
	border-bottom: 1px solid #333;
	cursor: pointer;
}
.nodeItem:hover {
	background: #3a3a3a;
}
#content {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
}
.section {
	margin-bottom: 20px;
}
.section h3 {
	margin-bottom: 5px;
}
#nodeSelectText ul {
	padding-left: 20px;
}
